<div>
    <button routerLink="/user-zone"> Mi Cuenta </button>
</div>

<div class="ui icon fluid input margin-50">
    <input type="text" placeholder="Search..." [(ngModel)]="filmToSearch">
    <i class="inverted circular search link icon" (click)="searchFilms()"></i>
</div>

<div class="ui three column grid margin-50">
    <div class="column clickable" [routerLink]="['/films',film.imdbID]" *ngFor="let film of filmsResults | async">
        <div class="ui fluid card">
            <div class="image">
                <img [src]="film.Poster">
            </div>
            <div class="content">
                <p class="header">{{film.Title}}</p>
            </div>
        </div>
    </div>
</div>