<div class="vertical-centered">
    <div class="column">
      <h2 class="ui teal image header">
        <img src="https://image.freepik.com/free-icon/film-reel-bridge_318-52560.jpg" class="image">
        <div class="content">
          Films Db
        </div>
      </h2>
      <form class="ui large form" [formGroup]="authForm" >
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input" [class.error]="!authForm.controls.user.valid && authForm.controls.user.touched">
              <i class="user icon"></i>
              <input type="text" name="user" formControlName="user" placeholder="Usuario">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input" [class.error]="!authForm.controls.password.valid && authForm.controls.password.touched">
              <i class="lock icon"></i>
              <input type="password" name="password" formControlName="password" placeholder="Contraseña">
            </div>
          </div>
          <div (click)="login()" class="ui fluid large teal submit button">Enviar</div>
        </div>
        <h2 *ngIf="!authForm.valid && authForm.touched">Usuario y Contraseña con campos obligatorios</h2>
      </form>